html, body { height: 100%; }
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push, #footer { height: 60px; }
#footer { background-color: #f5f5f5; }
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container { width: auto; max-width: 680px; }
.container .credit { margin: 20px 0; }
.wrap {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera 4 - 6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}
.media blockquote { margin: 0; }
.media img { cursor: pointer; }
/*== copy ==*/
.new-event .modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ECECEC;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,whiteSmoke),color-stop(100%,#ECECEC));
  background-image: -webkit-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: -ms-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: -o-linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  background-image: linear-gradient(top,whiteSmoke 0,#ECECEC 100%);
  border-bottom: 1px solid #DDD;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 white;
}
.new-event .modal-title { width: 75%; margin: 0 auto; font-size: 15px; font-weight: bold; line-height: 18px; color: #555; text-align: center; text-shadow: 0 1px 0 white; }
.new-event button.close { margin: -3px -3px 0 0; padding: 0; }
#content { resize: none; margin-bottom: 8px; width: 512px; height: 100px; padding: 8px; vertical-align: top; overflow: hidden; }
.char-counter { margin: 0; padding: 4px 6px; }
.char-counter span { margin: 0; padding: 0 2px; }
.char-counter span.superwarn { color: #d40d12; }
.new-event .part { margin: 0; padding: 0; }
.new-event .fileupload { margin-bottom: 0; }
.new-event .fileupload-preview { display: inline-block; max-width: 330px; overflow: hidden; }
