<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
  <p>
    X: <input type="text" name="x"/>
    Y: <input type="text" name="y"/>
  </p>
  <p>
    Description:
    <textarea name="content"></textarea>
  </p>
  <p>
    Photos:
    <input type="file" name="photos"/>
    <input type="file" name="photos"/>
    <input type="file" name="photos"/>
  </p>
  <p>
    {{ recaptcha }}
    <input type="submit" value="Submit"/>
  </p>
</form>