<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>此间的记忆 &middot; 闵行交大记忆地图</title>
  <link rel="shortcut icon" href="/favicon.png"/>
  <link rel="apple-touch-icon" href="/favicon.png"/>
  <link rel="stylesheet" href="/css/tb.css"/>
  <link rel="stylesheet" href="/css/events1.css"/>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div id="wrap">
  <div class="container">
    <div class="page-header">
      <a id="add-event" data-x="{{ marker_x }}" data-y="{{ marker_y }}" href="javascript:void(0);" class="btn btn-success pull-right">添加我的记忆</a>
      <h1>此间的记忆</h1>
    </div>
    <div>
      <div class="jiathis_style">
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_qzone">QQ空间</a>
        <a class="jiathis_button_tsina">新浪微博</a>
        <a class="jiathis_button_tqq">腾讯微博</a>
        <a class="jiathis_button_renren">人人网</a>
        <a class="jiathis_button_copy">复制网址</a>
        <a href="http://www.jiathis.com/share?uid=1529617" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
        <a class="jiathis_counter_style"></a>
      </div>
      <div class="clearfix"></div>
    </div>
    {% for event in events %}
      <div id="{{ event.id }}" class="media well clearfix">
        <blockquote>
          <p class="lead wrap">{{ event.content|e }}</p>
          <small>
            来自 {{ event.ip_address|e }} 的同学在 {{ event.create_time }} 添加了这条记忆
            <a class="permalink pull-right" href="#{{ event.id }}" rel="tooltip" title="永久链接">#</a>
          </small>
        </blockquote>
        {% for photo in event.photos %}
          <div class="media"><img src="/photo/{{ photo }}" class="img-polaroid"/></div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div id="push"></div>
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit">This website is <a href="https://github.com/stfairy/f09map">open source software</a> developed by <a href="http://xiao-jia.com/">Xiao Jia</a>. See more <a href="/credits" target="credits">credits</a>.</p>
  </div>
</div>
<div class="new-event modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">标记新的记忆</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" action="/upload" method="POST" enctype="multipart/form-data">
      <input type="hidden" id="event-x" name="x"/>
      <input type="hidden" id="event-y" name="y"/>
      <div class="part">
        <textarea id="content" name="content" placeholder="在此输入记忆描述"></textarea>
        <input type="hidden" id="content0" name="content0"/>
      </div>
      <div class="part">
        <div class="fileupload fileupload-new pull-left" data-provides="fileupload">
          <span class="btn btn-file"><span class="fileupload-new">上传照片</span><span class="fileupload-exists">更换照片</span><input type="file" name="photo1"/></span>
          <span class="fileupload-preview"></span>
          <a href="javascript:void(0);" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
        </div>
        <a href="javascript:void(0);" class="submit btn btn-success pull-right">保存</a>
        <div class="muted pull-right char-counter"><span id="char-count">300</span></div>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
<script src="/js/all.js"></script>
<script src="/js/events1.js"></script>
<script>var jiathis_config = {data_track_clickback:'true'};</script>
<script src="http://v3.jiathis.com/code/jia.js?uid=1529617"></script>
</body>
</html>
