<form class="form-horizontal" action="/upload" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="x" value="{{ x }}"/>
  <input type="hidden" name="y" value="{{ y }}"/>
  <p>
    <label for="content">记忆描述（最长300字）</label>
    <textarea id="content" name="content"></textarea>
    <input type="hidden" id="content0" name="content0"/>
  </p>
  <p>
    <label>上传照片（最多上传3张，每张最大2MB）</label>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <span class="btn btn-file"><span class="fileupload-new">选择照片</span><span class="fileupload-exists">更换照片</span><input type="file" name="photo1"/></span>
      <span class="fileupload-preview"></span>
      <a href="javascript:void(0);" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
    </div>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <span class="btn btn-file"><span class="fileupload-new">选择照片</span><span class="fileupload-exists">更换照片</span><input type="file" name="photo2"/></span>
      <span class="fileupload-preview"></span>
      <a href="javascript:void(0);" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
    </div>
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <span class="btn btn-file"><span class="fileupload-new">选择照片</span><span class="fileupload-exists">更换照片</span><input type="file" name="photo3"/></span>
      <span class="fileupload-preview"></span>
      <a href="javascript:void(0);" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">&times;</a>
    </div>
  </p>
  <div id="recaptcha"></div>
</form>