<h1>555，超流量啦，明天再来吧~ </h1>
<br/>
或者看看这个也行：<a href="/credits">Credits</a>
<br/>
或者去BBS顶贴吧：<a href="https://bbs.sjtu.edu.cn/bbstcon?board=Graduating&amp;reid=1355055036">点我去看帖子啦！</a>
<br/>
或者，去我的个人主页看看吧：<a href="http://xiao-jia.com/">Homepage of Xiao Jia</a>
<br/>
或者，还是看看我的博客吧：<a href="http://blog.xiao-jia.com/">随便想想</a>
<br/>
嗯，我正在想办法……
<br/>
-- XJ
